[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
matplotlib = "*"
pandas = "*"
pyqt5 = "*"
the = "*"
pyecharts = "*"
snapshot-phantomjs = "*"
flask = "*"

[requires]
python_version = "*"
